/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.b-bodytext {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 1em;
}

.b-bodytext--padbottom {
    margin-bottom: 3em;
}

.b-bodytext--small {
    font-size: 14px;
}

.b-bodytext strong {
    font-weight: 700;
}

.c-signup {
    justify-content: center;
    align-items: center;
    max-width: 340px;
    text-align: left;
    padding: 35px 25px 15px 25px;
    border: solid 1px #FC6F80;
    margin: 0 auto 48px auto;
}

    .c-signup__label {
        font-family: helvetica, sans-serif;
        font-size: 14px;
        padding-right: 1em;
        padding-bottom: 0.5em;
        display: block;
    }

    .c-signup__fields {
        display: flex;
        padding-bottom: 0.75em;
        
    }

    .c-signup__input {
        flex: 1 1 auto;
        background: none;
        border: solid 1px #454545;
        padding: 0.5em;
        font-size: 16px;
        line-height: 15px;
        margin-right: 0.5em;
    }

    .c-signup__button {
        flex: 0 0 auto;
        background: #FC6F80;
        border: none;
        padding: 0.65em 0.75em;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

.t-narrow {
    padding: 20px;
    padding-top: 10vh;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

    .t-narrow__logo {
        margin-bottom: 48px;
        max-width: 80%;
    }



