.bodytext {
  font-size: 16px;
  font-family: $font-secondary;
  line-height: (24/16);
  padding-bottom: (30/16)*1em;

  &--large {
    font-size: 22px;
    line-height: (28/22);
    padding-bottom: (30/18)*1em;
  }

  &--small {
    font-size: 14px;
    padding-bottom: (10/16)*1em;
    opacity: 0.8;
  }

  &--flush {
    padding-bottom: 0px;
  }

  b {
    font-weight: 700;
  }
}
