.bodytext {
  font-size: 14px;
  font-family: $font-secondary;
  line-height: (24/14);
  padding-bottom: (30/14)*1em;
  color:$color-text;

  &--large {
    font-size: 16px;
    line-height: (24/16);
    padding-bottom: (24/16)*1em;
  }

  &--small {
    font-size: 12px;
    padding-bottom: (10/12)*1em;
    opacity: 0.8;
  }

  &--flush {
    padding-bottom: 0px;
  }

  &--light {
    color: $color-grey-light;

    em {
      color: white;
    }
  }


  b, em {
    font-weight: 700;
  }

  @include breakpoint(medium) {

    &--large {
      font-size: 18px;
      line-height: (28/20);
      padding-bottom: (28/20)*1em;
    }
  }
}
