.button {
  display: inline-block;

  font-size: 16px;
  min-width: (150/16)*1em;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  border: solid 2px transparent;

  padding: (10/16)*1em (24/16)*1em (9/16)*1em (24/16)*1em;
  text-decoration: none;
  text-transform: uppercase;

  color: #FFFFFF;
  background-color: $color-primary;
  border-radius: (24/16)*1em;
  cursor: pointer;

  &--primary {
    box-shadow: 0px 7px 15px 4px rgba(#221652, 0.08);
  }

  &--secondary {
    background-color: $color-secondary;
    box-shadow: 0px 7px 15px 4px rgba(#6D629C, 0.2);
  }

  &--tertiary,
  &--text {
    background: none;
    color: $color-secondary;
  }

  &--tertiary {
    border: solid 2px currentColor;
  }

  &--outline {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }

  &--text {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &--margin {
    margin: (40/16)*1em 0;
  }

  &--inline {
    background-color: $color-secondary;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 140px;
    width: 140px;
  }


  &--fullmobile {
    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }
}
