.c-fieldgroup {
    display:block;
    padding-bottom: $padding-small *1.5;

    &__wrapper {
        @include flexbox();
        margin-left: $padding-small * -1;
        margin-right: $padding-small * -1;
    }

    &__item {
        @include flex(1 1 auto);
        padding: 0 $padding-small;
    }
}