.heading {
    font-weight: 600;
    color: $color-black;

    &--large {
        font-size: 30px;
        line-height: (38/30);
        padding-bottom: 1em;
        font-family:$font-primary;
    }

    &--medium {
        font-size: 24px;
        line-height: (37/32);
        padding-bottom: (24/32)*1em;
    }

    &--small {
        font-size: 18px;
        line-height: (24/18);
        font-weight: 600;
        padding-bottom:(18/18)*1em;
    }

    &--xsmall {
        font-size: 18px;
        line-height: (21/18);
        padding-bottom: (10/18)*1em;
    }

    &--flush {
        padding-bottom: 0;
    }

    &--center {
        text-align: center;
    }

    &--primary {
        color: $color-primary;
    }

    &--white {
        color: $color-white;
    }

    @include breakpoint(medium) {

        &--large {
            font-size: 36px;
            line-height: (48/36);
            padding-bottom: (36/36)*1em;
        }
    
        &--medium {
            font-size: 32px;
            line-height: (37/32);
            padding-bottom: (24/32)*1em;
        }
    
        &--small {
            font-size: 20px;
            line-height: (30/20);
            padding-bottom:(18/20)*1em;
        }

        &--flush {
            padding-bottom: 0;
        }
    }

    @include breakpoint(large) {

        &--large {
            font-size: 42px;
            line-height: (60/48);
            padding-bottom: (48/48)*1em;
        }

        &--medium {
            font-size: 32px;
            line-height: (37/32);
            padding-bottom: (24/32)*1em;
        }

        &--small {
            font-size: 20px;
            line-height: (30/20);
            padding-bottom:(18/20)*1em;
        }

        &--flush {
            padding-bottom: 0;
        }
    }

}