.c-radiooption {
    display: block;
    border: 1px solid $color-grey;
    padding: $padding-small;
    overflow: hidden;
    position: relative;
    
    &__input {
        position: absolute;
        top: -100%;
        left: -100%;
    }

    &__label {
        font-size: 14px;
        position: relative;
        color: darken($color-primary, 70);
        padding-left: 2em;

        &:before,
        &:after {
            content:"";
            position: absolute;
            display: block;
            left: 0;
            top: 50%;
            border-radius: 1em;
        }

        &:before {
            width: 16px;
            height: 16px;
            margin-top: -8px;
            border: 1px solid $color-grey;
        }
    }

    &--checked {
        border-color: $color-primary;
    }

    &__input:checked + .c-radiooption__label {

        &:before {
            border-color: $color-primary;
        }

        &:after {
            width: 8px;
            height: 8px;
            margin-top: -3px;
            background: $color-primary;
            left: 5px;
        }
    }

    @include breakpoint(large) {

        &__input:checked + .c-radiooption__label {
            &:after {
                width: 12px;
                height: 12px;
                margin-top: -5px;
                left: 5px;
            }
        }

        &__label {
            font-size: 16px;


            &:before {
                width: 20px;
                height: 20px;
                margin-top: -10px;
            }
        }
    }
}