$gutter: 16px;
$gutter-large: 30px;
$row-width: 1230px;
$row-width-wide: 1400px;
$grid-columns: 12;

// vertical spacing standards
$padding-small: 16px;
$padding-small-medium: 38px;
$padding-medium: 80px;
$padding-large: 100px;

// breakpoints
$breakpoints: (
  base: 0px,
  small: 480px,
  medium: 780px,
  large: 1040px,
  xlarge: 1280px
);

// generate our breakpoint mixins
@mixin breakpoint($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);
    @media screen and (min-width: $size) {
        @content;
    }
}

$font-primary: 'Merriweather', serif;
$font-secondary: 'Roboto', sans-serif;
$color-primary: #6E87FE;
$color-primary-lighter: lighten($color-primary, 10);
$color-primary-darker: darken($color-primary, 10);
$color-grey-light: #dfe2f5;
$color-grey: #6e759e;
$color-grey-medium: #3f4773;
$color-black: #00082e;
$color-white: #FFFFFF;
$color-text: $color-grey;

$color-error: #FF3366;
