.t-cta-block {

    &__image {
        position: relative;
        padding-top: 100%;
        svg,
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 48px;
        }

        img {
            padding: 0;
        }

        &--full {
            margin-bottom: 30px;
        }
    }

    &__heading {
        color: $color-primary;
    }   

    &__largetext {
        color: #5A607B;
        font-weight: 500;
        padding-bottom: 0.75em;
    }

    &__text {

    }

    &__button {

    }
}