.t-cta-block {
    padding-bottom: 30px;
    


    &__image {
        max-width: 320px;

        &:before {
            content:"";
            display: block;
            padding-top: 100%;
        }
        position: relative;
        margin-right: 30px;
        svg,
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 48px;
        }

        img {
            padding: 0;
        }

        &--full {
            margin-bottom: 30px;
        }
    }

    &__heading {
        color: $color-primary;
    }   

    &__largetext {
        color: #5A607B;
        font-weight: 500;
        padding-bottom: 0.75em;
    }


    @include breakpoint(medium) {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        &__image {
            @include flex(0 0 auto);
            max-width: 100%;
            width: 240px;
            height: 240px;
            padding-top: 0;
        }
    }

    @include breakpoint(large) {
        display: block;
        &__image {
            width: auto;
            height: auto;
        }
    }
}