.t-donation-form {
    background: white;
    border: solid 1px darken($color-primary, 60);

    &__header,
    &__body,
    &__footer {
        padding: 16px 20px;
    }

    &__body {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    &__header {
        border-bottom: solid 1px #DFE2F5;
    }

    &__footer {
        background: $color-grey-light;
        border-top: solid 1px darken($color-grey-light, 20);
    }

    @include breakpoint(medium) {
        &__header,
        &__body,
        &__footer {
            padding: 20px 30px;
        }
    }
}