.t-footer {
    background: $color-black;
    padding: 70px 0;
    color: white;

    &__logo {
        padding-bottom: 20px;
    }

    &__link {
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    &__contentleft {
        padding-bottom: 30px;
        max-width: 480px;
    }

        &__email {
            display: block;
            padding-bottom: 0.5em;
        }


        &__menu {
            padding-bottom: 24px;
        }

            &__menuitem {
                display: inline-block;
            }

            &__menulink {
                display: block;
                padding: 0 1.25em 0.5em 0em;
            }

            &__menuitem:last-child &__menulink {
                padding-right: 0;
            }
        &__charitynumber {
            padding-bottom: 0.5em;
        }


        &__social {
            padding-bottom: 30px;
        }

            &__socialitem {
                display: inline-block;
            }

                &__sociallink {
                    padding: $gutter-large $gutter-large $gutter-large 0;
                }

                &__socialicon {
                    width: 24px;
                    height: 24px;
                    path {
                        fill: #FFFFFF;
                    }
                }

    @include breakpoint(medium) {
        padding: 140px 0;
        
        &__contentright {
            text-align: right;
        }

            &__menulink {
                padding: 0 0.75em 0.5em 0.75em;
            }


            &__sociallink {
                padding: $gutter-large 0 $gutter-large $gutter-large;
            }

    }


    @media screen and (min-width: 842px) {
        &__menulink {
            padding: 0 1em 0.5em 1em;
        }
    }
}