.t-footer {
    background: $color-black;
    color: white;
    padding: 140px 0;
    
    &__link {
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    &__contentright {
        text-align: right;
    }

        &__menu {
            padding-bottom: 64px;
        }

            &__menuitem {
                display: inline-block;
            }

            &__menulink {
                display: block;
                padding: 0 1em 0.5em 1em;
            }

            &__menuitem:last-child &__menulink {
                padding-right: 0;
            }
        &__charitynumber {
            padding-bottom: 0.5em;
        }
}