.t-header {
    background: $color-white;



    &__inner {
        @include flex-wrap(wrap);
        @include flexbox();
        @include align-items(center);
    }

    &__logo,
    &__menuitem {
        @include flex(0 0 auto);
    }

    &__logo {
        padding: $padding-small;
    }

    &__logoword {
        color: $color-black;
    }

    &__menu {
        width: 100%;
        @include flexbox();
        @include order(3);
    }

        &__menuitem {
            @include flex(1 1 auto);
            background: $color-grey;
        }

            &__menulink {
                display: block;
                font-size: 14px;
                color: $color-grey-light;
                text-decoration: none;
                padding: $padding-small * 1.25;
                text-align: center;
            }

    &__cta {
        margin-left: auto;
        margin-right: $padding-small;
    }

    @media screen and (max-width: 768px) {
        &__inner {
            margin: 0;
            padding: 0;
        }
    }

    @include breakpoint(medium) {
        background: none;

        &__inner {
            @include flex-wrap(nowrap);
        }

            &__logo {
                padding-left: 0;
            }


            &__logoword {
                color: $color-white;
            }

            &__menu {
                @include order(2);

                width: auto;
                margin-left: auto;
                margin-right: 40px;
            }

                &__menuitem {
                    @include flex(0 0 auto);
                    background: none;
                }

                &__menulink {
                    font-size: 16px;
                    padding: $padding-small;
                    display: inline-block;
                    color: $color-grey-light;
                    min-width: 120px;
                }

            &__cta {
                @include order(3);
                margin-left: 0;
                margin-right: 0;
            }
    }
}