.t-home-about {
    position: relative;
    background: lighten($color-grey-light, 8);

    &:before {
        content:"";
        position: absolute;
        width: 100%;
        height: 118px;
        background: #EFF2FF;
        bottom: 0;
        left: 0;
    }

    &__inner {
        position: relative;
    }

    &__content {
        padding-bottom: 160px;
    }

    &__image {
        position: absolute;
        left: 0;
        bottom: -120px;
        width: 700px;
        padding-bottom: (397/884)*100%;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

        &__svg {
            vertical-align: bottom;
        }
}