.t-home-hero {
    background-color: $color-black;
    background-image: url('../images/hero_large.jpg');
    background-size: cover;
    background-position: top right;

    &__inner {
        padding: 50px 0;
        max-width: 540px;
        margin: 0 auto;
    }
    
    &__heading {
        color: white;
        max-width: 480px;
    }

    &__content {
        padding-bottom: 30px;
    }

        &__body {
            max-width: 440px;
            padding-bottom: (50px);
        }

    @include breakpoint(medium) {

        &__content {
            padding-bottom: 80px;
        }

        &__heading {
            max-width: 100%;
        }

        &__inner {
            padding: $padding-medium 0;
            max-width: $row-width;
        }
    }

    @include breakpoint(large) {
        &__inner {
            padding: $padding-large 0;
        }
    }
}