.t-home-hero {
    background-color: #2C4BDD;
    padding: $padding-large 0;
    
    &__heading {
        color: white;
        margin-top: 1.5em;
    }

    &__body {
        max-width: 440px;
    }
}