.t-home-hero {
    background-color: $color-black;
    background-image: url('../images/hero_large.jpg');
    background-size: cover;
    background-position: top right;

    &__inner {
        padding: 35px 0;
    }
    
    &__heading {
        color: white;
    }

    &__content {
        padding-bottom: 80px;
    }

        &__body {
            max-width: 440px;
            padding-bottom: (50px);
        }

    @include breakpoint(medium) {
        &__inner {
            padding: $padding-medium 0;
        }
    }

    @include breakpoint(large) {
        &__inner {
            padding: $padding-large 0;
        }
    }
}