.t-home-projects {
    overflow: hidden;
    position: relative;
    background: $color-black;
    color: $color-white;
    padding: $padding-medium 0;

    &__inner {
        @include flexbox();
        @include align-items(center);
    }

    &__content {
        @include flex(1 1 auto);
        min-width: 520px;
        margin-bottom: 100px;
    }

    &__map {
        position: absolute;
        top: 0;
        right: -40%;
        @include flex(0 0 auto);
        transform: translate3d(-50px, 0, 0);
        z-index: 0;
    }
}