.t-cta-block {
    &__heading {
        color: $color-primary;
    }   

    &__largetext {
        color: #5A607B;
        font-weight: 500;
        padding-bottom: 0.75em;
    }

    &__text {

    }

    &__button {

    }
}