.t-thirst-partners {
    overflow: hidden;
    position: relative;
    background: $color-black;
    color: $color-white;
    padding: $padding-medium 0;

    &__content {
        padding-bottom: 30px;
    }

}